@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: darkseagreen;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    letter-spacing: 3px;
    text-align: center;
}

/*Menu*/
header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: #4b4b4b;
}
.button_pokemon_list {
    font-size: 20px;
    margin-right: 20px;
}
.button_game {
    font-size: 20px;
}
nav {
    margin: 0 0 0 auto;
}
ul {
    list-style: none;
    margin: 0;
    display: flex;
}
li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.text_no_pokemon {
    text-align: center;
    font-size: 40px;
}

.type {
    margin-top: 4px;
    margin-bottom: 4px;
}

/*game*/
.scroll_area_game_start_screen{
    margin-top: 140px;
    text-align: center;
}

.button_start_game {
    display       : inline-block;
    border-radius : 4%;          /* 角丸       */
    font-size     : 30pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 80px;   /* 余白       */
    background    : #66ff66;     /* 背景色     */
    color         : #330033;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
    border        : 2px solid #66ff66;    /* 枠の指定 */
}

.button_start_game :hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #66ff66;     /* 背景色     */
    background    : #330033;     /* 文字色     */
}

.description_game_detail {
    text-align: center;
    font-size: 30px;
}

.game_field {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: lightgreen;
}

.image_finish_score {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.game_field img {
    position: absolute;
    width: 140px;
    height: 140px
}

.count_text {
    padding-top: 1em;
    padding-left: 1em;
    font-size: 30px;
}

.text_image_finish_score {
    padding-top: 1em;
    padding-left: 1em;
    font-size: 40px;
}

.text_finish {
    text-align: center;
    font-size: 80px;
}

.text_finish_register {
    text-align: center;
    font-size: 40px;
}

.game_finish_field {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.image_finish_score {
    width: 100vh;
    height: 50vh;
    margin: 0 auto;
}

/*Pokemon*/
.scroll_area_pokemon_list {
    padding-top: 140px;
}

.poke-container {
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.poke-container-background {
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px 20%;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .info .number {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.pokemon .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.description {
    text-align: center;
}

/*loading*/
.sk-chase1 {
    width: 40px;
    height: 40px;
    position: fixed;
    animation: sk-chase 2.5s infinite linear both;
    top: 50%;
    left: 50%;
}

.sk-chase2 {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    top: 50%;
    left: 49%;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
    100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    } 100%, 0% {
          transform: scale(1.0);
      }
}

/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.modalClose {
    font-size: 2rem;
    float: right;
}

.modalClose:hover {
    cursor: pointer;
}

.modal-body {
    color: black;
}

.modal_name {
    font-size: 20px;
    text-align: center;
    margin-top: -8px;
}

.modal_image {
    text-align: center;
}

.modal_padding {
    padding: 9px 15px;
}